In [1]:
#Social_Networks_Ads.csv

**Importing the libraries**

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

**Importing the dataset**

In [3]:
df = pd.read_csv('Social_Network_Ads.csv')

In [4]:
df.head(2)

    User ID Gender  Age  EstimatedSalary  Purchased
0  15624510   Male   19            19000          0
1  15810944   Male   35            20000          0

In [5]:
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [6]:
male = pd.get_dummies(df['Gender'], drop_first= True)

In [7]:
df_new = pd.concat([df, male], axis = 1)

In [8]:
df_new.head(2)

    User ID Gender  Age  EstimatedSalary  Purchased  Male
0  15624510   Male   19            19000          0     1
1  15810944   Male   35            20000          0     1

In [9]:
df_new.drop(['User ID', 'Gender'], axis = 1, inplace = True)

In [10]:
df_new.head(2)

   Age  EstimatedSalary  Purchased  Male
0   19            19000          0     1
1   35            20000          0     1

**Splitting the dataset into the Training set and Test set**

In [11]:
X = df_new.drop(['Purchased'], axis = 1).copy()
y = df_new['Purchased'].copy()

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2, random_state=0)

**Feature Scaling**

In [13]:
sc = MinMaxScaler()

In [14]:
X_train_sc = sc.fit_transform(X_train)

**Fitting K-NN to the Training set**

In [15]:
kn = KNeighborsClassifier()

In [16]:
kn.fit(X_train_sc, y_train)

KNeighborsClassifier()

**Predicting the Test set results**

In [17]:
X_test_sc = sc.transform(X_test)

In [18]:
pred = kn.predict(X_test_sc)

**Making the Confusion Matrix**

In [19]:
confusion_matrix(y_test, pred)

array([[55,  3],
       [ 1, 21]], dtype=int64)

In [20]:
accuracy_score(y_test, pred)

0.95

---